<H1>BIENVENIDOS A FORMULARIO</H1>

<form>
        <div class="form-group">
          <label for="exampleFormControlFile1">SUBA FOTOGRAFRIA 3X4 FONDO BLANCO AQUI</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
      </form>

<form>
        <div class="form-group">
            <h2>DATOS PERSONALES:</h2>
          <label for="formGroupExampleInput">PRIMER APELLIDO:</label>
          <input Practicantes.firstsurname type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite primer apellido">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">SEGUNDO APELLIDO:</label>
          <input Practicantes.lastsurname type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite segundo apellido">
        </div>
        <div class="form-group">
                <label for="formGroupExampleInput2">NOMBRES:</label>
                <input Practicantes.names type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite nombres">
              </div>
              <div class="form-group">
                    <label for="formGroupExampleInput2">CEDULA DE CIUDADANIA:</label>
                    <input [(ngModel)]="docente.id" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite cedula">
                  </div>
                  <div class="form-group">
                        <label for="formGroupExampleInput2">LUGAR DE NACIMIENTO:</label>
                        <input [(ngModel)]="docente.placeofbirth" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite lugar de nacimiento">
                      </div>      

                      <div class="form-group">
                            <label for="formGroupExampleInput2">ESTADO CIVIL:</label>
                            <input [(ngModel)]="docente.statecivil" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite estado civil">
                          </div>
                          <div class="form-group">
                                <label for="formGroupExampleInput2">DIRECCION ACTUAL:</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite Direcciona actual">
                              </div>

                              <div class="form-group">
                                    <label for="formGroupExampleInput2">TELEFONO:</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite telefono">
                                  </div>
                                  <form>
                                        <div class="form-group">
                                          <label for="exampleFormControlFile1">SELECCIONE ARCHIVO PDF DE EPS A LA QUE ESTA ADSCRITO AQUI</label>
                                          <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                        </div>
                                      </form>
                                  <div class="form-group">
                                        <label for="formGroupExampleInput2">CORREO ELECTRONICO:</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite correo elecetronico">
                                      </div>
                                      <div class="form-group">
                                            <label for="formGroupExampleInput2">CIUDAD:</label>
                                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite ciudad">
                                          </div>
                                          <div class="form-group">
                                            <button (click)="add()" class="btn btn-primary">Agregar</button>
                                        </div>
      </form>
