<div class="back">
    <div class="center">

        <div class="cards" routerLink="/company/subscribed/status">
            <div class="up">
                <div class="mark">
                    <img src="../../../assets/source/Estado22x22.png" alt="Icon">
                </div>
            </div>
            <div class="down">
                <span>Estado</span>   
            </div>
        </div>
    
        <div class="cards" routerLink="/company/subscribed/delete">
            <div class="up">
                <div class="mark">
                    <img src="../../../assets/source/Eliminar22x22.png" alt="Icon">
                </div>
            </div>
            <div class="down">
                <span>Eliminar</span>   
            </div>
        </div>

    </div>
</div>
                                                            
                                                        
                                                    
                                            
                                    
                            
                        
                    
            
        
    
