<div class="body">
    <p id="up">Empleado</p>
    <div class="center">

        <div class="option" routerLink='/employee/teachers'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="home"><span>Docentes</span>
        </div>

        <div class="option" routerLink='/employee/practiceers'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="settings"><span>Practicantes</span>
        </div>

        <div class="option" routerLink='/employee/companies'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="settings"><span>Empresas</span>
        </div>

        <div class="option" routerLink='/employee/practices'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="settings"><span>Practicas</span>
        </div>
    
        <div class="post" routerLink='/reports'>
            <span>Reportes</span>
        </div>
    
    </div>
    
</div>