<div class="body">
    <p id="up">Docente</p>
    <div class="center">

        <div class="option" routerLink='/teacher/practiceer'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="home"><span>Practicantes</span>
        </div>

        <div class="option" routerLink='/teacher/fault'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="settings"><span>Asistencias</span>
        </div>

        <div class="option" routerLink='/teacher/place'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="searchs"><span>Evaluar sitios</span>
        </div>
    
        <div class="post" routerLink='/teacher/rating'>
            <span>Calificaciones</span>
        </div>
    
    </div>
    
</div>
