<div class="body">
    <p id="up">Docentes</p>
    <div class="center">

        <div class="option" routerLink='/'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="home"><span>Opcion</span>
        </div>
    
        <div class="option" routerLink='/'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="settings"><span>Opcion</span>
        </div>

        <div class="option" routerLink='/'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="settings"><span>Opcion</span>
        </div>
    
        <div class="option" routerLink='/'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="searchs"><span>Opcion</span>
        </div>

        <div class="option" routerLink='/'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="searchs"><span>Opcion</span>
        </div>
    
        <div class="post" routerLink='/'>
            <span>Opcion</span>
        </div>
    
    </div>
    
</div>
