<div class="body">
    <p id="up">Practicantes</p>
    <div class="center">

        <div class="option" routerLink='/practiceer/subscribed'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="home"><span>Inscripción</span>
        </div>
    
        <div class="option" routerLink='/practiceer/requests'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="settings"><span>Solicitud</span>
        </div>
    
        <div class="post" routerLink='/practiceer/practices'>
            <span>Practica</span>
        </div>
    
    </div>
    
</div>
