<div class="body">
    <p id="up">Practicante</p>
    <div class="center">

        <div class="option" routerLink='/practiceer/subscribed'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="home"><span>Inscripción</span>
        </div>
    
        <div class="option" routerLink='/practiceer/request'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="settings"><span>Solicitud</span>
        </div>
    
        <div class="post" routerLink='/practiceer/practice'>
            <span>Practica</span>
        </div>
    
    </div>
    
</div>
