.option{
    width: 100%;
    padding: 5% 25px;
    margin: 8px 0px;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.post{
    width: 100%;
    padding: 5% 50px;
    margin: 8px 0px;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-color: rgb(35, 71, 35);;
}

.post span{
    color: rgba(245,245,245, 1);
}

.post:hover{
    background-color: rgba(43, 148, 43, 1);;
    border: 2px solid rgba(245,245,245, 1);
}

#up{
    position: absolute;
    height: fit-content;
    top: 0;
    color: rgba(245,245,245,0.2);
    width: fit-content;
    margin-left: 2%;
}

.body{
    display: flex;
    color: black;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}

.option:hover{
    background-color: rgba(43, 148, 43, 0.06);;
    border: 2px solid rgba(43, 148, 43, 0.9);;
}

span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 25px;
    color: white;
}

.center{
    height: fit-content;
    width: 100%;
    padding: 0 4% 0 4%;
}

img{
    width: 22px;
    height: 22px;
}