<div class="back">
    <div class="center">

        <div class="cards">
            <div class="up">
                <img src="../../../assets/source/menu22x22.png" alt="Icon">
            </div>
            <div class="down">
                <span>Opción</span>   
            </div>
        </div>
    
        <div class="cards">
            <div class="up">
                <img src="../../../assets/source/menu22x22.png" alt="Icon">
            </div>
            <div class="down">
                <span>Opción</span>   
            </div>
        </div>
    
        <div class="cards">
            <div class="up">
                <img src="../../../assets/source/menu22x22.png" alt="Icon">
            </div>
            <div class="down">
                <span>Opción</span>   
            </div>
        </div>
    
        <div class="cards">
            <div class="up">
                <img src="../../../assets/source/menu22x22.png" alt="Icon">
            </div>
            <div class="down">
                <span>Opción</span>   
            </div>
        </div>
    
        <div class="cards">
            <div class="up">
                <img src="../../../assets/source/menu22x22.png" alt="Icon">
            </div>
            <div class="down">
                <span>Opción</span>   
            </div>
        </div>
    
        <div class="cards">
            <div class="up">
                <img src="../../../assets/source/menu22x22.png" alt="Icon">
            </div>
            <div class="down">
                <span>Opción</span>   
            </div>
        </div>
    
        <div class="cards">
            <div class="up">
                <img src="../../../assets/source/menu22x22.png" alt="Icon">
            </div>
            <div class="down">
                <span>Opción</span>   
            </div>
        </div>
    
        <div class="cards">
            <div class="up">
                <img src="../../../assets/source/menu22x22.png" alt="Icon">
            </div>
            <div class="down">
                <span>Opción</span>   
            </div>
        </div>

        <div class="cards">
            <div class="up">
                <img src="../../../assets/source/menu22x22.png" alt="Icon">
            </div>
            <div class="down">
                <span>Opción</span>   
            </div>
        </div>

    </div>
</div>
                    
                
            
    