<div class="back">
    <div class="center">

        <div class="cards" routerLink="/practiceer/practice/ratings">
            <div class="up">
                <div class="mark">
                    <img src="../../../assets/source/Aprobado03.png" alt="Icon">
                </div>
            </div>
            <div class="down">
                <span>Calificaciones</span>   
            </div>
        </div>
    
        <div class="cards" routerLink="/practiceer/practice/status">
            <div class="up">
                <div class="mark">
                    <img src="../../../assets/source/Estado22x22.png" alt="Icon">
                </div>
            </div>
            <div class="down">
                <span>Estado</span>   
            </div>
        </div>

    </div>
</div>
                    
                
            
    