<div class="back">
    <div class="center">

        <div class="cards" routerLink="/employee/practice/record">
            <div class="up">
                <div class="mark">
                    <img src="../../../assets/source/Registrar22x22.png" alt="Icon">
                </div>
            </div>
            <div class="down">
                <span>Registrar</span>   
            </div>
        </div>
    
        <div class="cards" routerLink="/employee/practice/search">
            <div class="up">
                <div class="mark">
                    <img src="../../../assets/source/menu22x22.png" alt="Icon">
                </div>
            </div>
            <div class="down">
                <span>Consultar</span>   
            </div>
        </div>

    </div>
</div>
        
    
