@media(min-width:800px){
    .cards{
        margin: 30px;
    }    
}

@media(max-width:799px){
    .cards{
        margin: 10px;
    }    
}


.back{
    height: 100%;
    width: 100%;
    background-color: rgba(43, 148, 43, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    height: fit-content;
}
