<H1>BIENVENIDOS A FORMULARIO</H1>

<form>
        <div class="form-group">
          <label for="exampleFormControlFile1">SUBA FOTOGRAFRIA 3X4 FONDO BLANCO AQUI</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
      </form>

<form>
        <div class="form-group">
            <h2>DATOS PERSONALES:</h2>
          <label for="formGroupExampleInput">PRIMER APELLIDO:</label>
          <input [(ngModel)]="Practicantes.firstsurname" type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite primer apellido">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">SEGUNDO APELLIDO:</label>
          <input [(ngModel)]="Practicantes.lastsurname" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite segundo apellido">
        </div>
        <div class="form-group">
                <label for="formGroupExampleInput2">NOMBRES:</label>
                <input [(ngModel)]="Practicantes.names" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite nombres">
              </div>
              <div class="form-group">
                    <label for="formGroupExampleInput2">CEDULA DE CIUDADANIA:</label>
                    <input [(ngModel)]="Practicantes.id" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite cedula">
                  </div>
                  <div class="form-group">
                        <label for="formGroupExampleInput2">LUGAR DE NACIMIENTO:</label>
                        <input [(ngModel)]="Practicantes.placeofbirth" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite lugar de nacimiento">
                      </div>      

                      <div class="form-group">
                            <label for="formGroupExampleInput2">ESTADO CIVIL:</label>
                            <input [(ngModel)]="Practicantes.statecivil" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite estado civil">
                          </div>
                          <div class="form-group">
                                <label for="formGroupExampleInput2">DIRECCION ACTUAL:</label>
                                <input [(ngModel)]="Practicantes.adress" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite Direcciona actual">
                              </div>

                              <div class="form-group">
                                    <label for="formGroupExampleInput2">TELEFONO:</label>
                                    <input [(ngModel)]="Practicantes.telephone" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite telefono">
                                  </div>
                                  <form>
                                        <div class="form-group">
                                          <label for="exampleFormControlFile1">SELECCIONE ARCHIVO PDF DE EPS A LA QUE ESTA ADSCRITO AQUI</label>
                                          <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                        </div>
                                      </form>
                                  <div class="form-group">
                                        <label for="formGroupExampleInput2">CORREO ELECTRONICO:</label>
                                        <input [(ngModel)]="Practicantes.email" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite correo elecetronico">
                                      </div>
                                      <div class="form-group">
                                            <label for="formGroupExampleInput2">CIUDAD:</label>
                                            <input [(ngModel)]="Practicantes.city" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite ciudad">
                                          </div>
      </form>
<h2>2. ESTUDIOS REALIZADOS</h2>

<p>NIVEL SECUNDARIO:</p>
<form>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">INSTITUCION:</label>
          <div class="col-sm-10">
            <input [(ngModel)]="Practicantes.institution1" type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite su institucion">
          </div>
        </div>
        <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">TITULO:</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="Practicantes.title1"type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite su titulo">
                </div>
              </div>
              <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">FECHA:</label>
                    <div class="col-sm-10">
                      <input [(ngModel)]="Practicantes.date1" type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite su fecha de grado">
                    </div>
                  </div>
      </form>

      <p>NIVEL UNIVERSITARIO:</p>
      <form>
            <div class="form-group row">
              <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">INSTITUCION:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite su institucion">
              </div>
            </div>
            <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">TITULO:</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite su titulo">
                    </div>
                  </div>
                  <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">FECHA:</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite su fecha de grado">
                        </div>
                      </div>
          </form>

          <p>OTROS ESTUDIOS:</p>
          <form>
                <div class="form-group row">
                  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">INSTITUCION:</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite su institucion">
                  </div>
                </div>
                <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">TITULO:</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite su titulo">
                        </div>
                      </div>
                      <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">FECHA:</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite su fecha de grado">
                            </div>
                          </div>
              </form>
              <p>IDIOMAS:</p>
              <form>
                    <div class="form-group row">
                      <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">INSTITUCION:</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite su institucion">
                      </div>
                    </div>
                    <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">TITULO:</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite su titulo">
                            </div>
                          </div>
                          <div class="form-group row">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">FECHA:</label>
                                <div class="col-sm-10">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite su fecha de grado">
                                </div>
                              </div>
                  </form>
        
                  <div class="form-group">
                        <label for="exampleFormControlTextarea1">3.INVESTIGACION O PROYECTOS REALIZADOS</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>

            <div class="form-group">
                        <label for="exampleFormControlTextarea1">4.CONOCIMIENTO O PRACTICA DE INFORMATICA QUE POSEE</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <div class="form-group">
                            <label for="exampleFormControlTextarea1">5.SEMINARIOS O CURSOS ASISTIDOS(Tema,institucion,fecha)</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                          <div class="form-group">
                                <label for="exampleFormControlTextarea1">6.DISTINCIONES Y HONORES RECIBIDOS(Distincion,institucion,fecha)</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                  
                  <h2>7. EXPERIENCIA LABORAL</h2>
                  <form>
                        <div class="form-group row">
                          <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">ENTIDAD:</label>
                          <div class="col-sm-10">
                            <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite entidad">
                          </div>
                        </div>
                        <div class="form-group row">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">CARGO:</label>
                                <div class="col-sm-10">
                                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite cargo">
                                </div>
                              </div>
                              <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">FUNCIONES DESEMPEÑADAS:</label>
                                    <div class="col-sm-10">
                                      <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite sus funciones">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">DURACION FECHA:</label>
                                        <div class="col-sm-10">
                                          <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite fecha">
                                        </div>
                                      </div>
                      </form>

                      <form>
                            <div class="form-group row">
                              <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">ENTIDAD:</label>
                              <div class="col-sm-10">
                                <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite entidad">
                              </div>
                            </div>
                            <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">CARGO:</label>
                                    <div class="col-sm-10">
                                      <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite cargo">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">FUNCIONES DESEMPEÑADAS:</label>
                                        <div class="col-sm-10">
                                          <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite sus funciones">
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">DURACION FECHA:</label>
                                            <div class="col-sm-10">
                                              <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="digite fecha">
                                            </div>
                                          </div>
                          </form>

                          <h2>8. AREAS DE INTERES PARA EL DESARROLLO DE LAS PRACTICAS EN ORDEN DE PREFERENCIA</h2>
                          <div class="form-group">
                                <label for="exampleFormControlTextarea1">DIGITE SUS PERFILES POR ORDEN DE PREFERENCIA:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>


                              <div class="form-group">
                                  <button (click)="add()" class="btn btn-primary">Agregar</button>
                              </div>