<div class="back">
  <div class="center">

    <div class="paginators">
      <div class="opt" (click)="ant()">
        <p>Anterior</p>
      </div>
      <div class="space">

      </div>
      <div class="opt" (click)="sig()">
        <p>Siguiente</p>
      </div>
    </div>

    <H1>REGISTRAR PRACTICANTE</H1>

    <div class="panel" *ngIf="pag==0">

      <h5>SUBA FOTOGRAFRIA 3X4 FONDO BLANCO AQUI</h5> 
      
      <div class="preview">
        <div class="photo">
          <img src="" alt="">
        </div>
      </div>

      <div class="files">
        <input type="file" (change)="onFileSelected($event)" #fileInput id="file">
        <button id="upload" (click)="fileInput.click()">Up</button>
        <input id="uploadName" type="text" value="{{name}}" placeholder="Ningun archivo" disabled>
      </div>

    </div>
    
    <div class="panel" *ngIf="pag==1">

      <h5>1. DATOS PERSONALES</h5>

      <div class="cols">

        <div class="col1">       
          <div>        
            <label>PRIMER APELLIDO</label>
            <input [(ngModel)]="Practicantes.firstsurname" type="text"   placeholder="Digite primer apellido">
          </div>
  
          <div >
            <label >NOMBRES</label>
            <input [(ngModel)]="Practicantes.names" type="text"   placeholder="Digite nombres">
          </div>
  
          <div >
            <label >LUGAR DE NACIMIENTO</label>
            <input [(ngModel)]="Practicantes.placeofbirth" type="text"   placeholder="Digite lugar de nacimiento">
          </div>   
  
          <div >
            <label >DIRECCION ACTUAL</label>
            <input [(ngModel)]="Practicantes.adress" type="text"   placeholder="Digite Direcciona actual">
          </div>
  
          <div >
            <label >CIUDAD</label>
            <input [(ngModel)]="Practicantes.city" type="text"   placeholder="Digite ciudad">
          </div>    
        </div>
  
        <div class="col2">    
          <div >
            <label >SEGUNDO APELLIDO</label>
            <input [(ngModel)]="Practicantes.lastsurname" type="text"   placeholder="Digite segundo apellido">
          </div>
  
          <div >
            <label >CEDULA DE CIUDADANIA</label>
            <input [(ngModel)]="Practicantes.id" type="text"   placeholder="Digite cedula">
          </div>
  
          <div >
            <label >ESTADO CIVIL</label>
            <input [(ngModel)]="Practicantes.statecivil" type="text"   placeholder="Digite estado civil">
          </div>
  
          <div >
            <label >TELEFONO</label>
            <input [(ngModel)]="Practicantes.telephone" type="text"   placeholder="Digite telefono">
          </div>
  
          <div >
            <label >CORREO ELECTRONICO</label>
            <input [(ngModel)]="Practicantes.text" type="text"   placeholder="Digite correo elecetronico">
          </div>    
        </div>        

      </div>

      <div >
        <label >SELECCIONE ARCHIVO PDF DE EPS A LA QUE ESTA ADSCRITO AQUI</label>
        <div class="files">
          <input type="file" (change)="onFileSelected($event)" #fileInput id="file">
          <button id="upload" (click)="fileInput.click()">Up</button>
          <input id="uploadName" type="text" value="{{name}}" placeholder="Ningun archivo" disabled>
        </div>
      </div>

    </div>
    
    <div class="panel" *ngIf="pag==2">

      <h5>2. ESTUDIOS REALIZADOS</h5>
  
      <div class="cols">
        <div class="col1">

          <p>NIVEL SECUNDARIO:</p>
          <div >
            <label>INSTITUCION:</label>
            <div>
              <input [(ngModel)]="Practicantes.institution1" type="text"   placeholder="digite su institucion">
            </div>
          </div>
        
          <div >
            <label  >TITULO:</label>
            <div >
              <input [(ngModel)]="Practicantes.title1" type="text"   placeholder="digite su titulo">
            </div>
          </div>
        
          <div >
            <label  >FECHA:</label>
            <div >
              <input [(ngModel)]="Practicantes.date1" type="text"   placeholder="digite su fecha de grado">
            </div>
          </div>
        </div>
        
        <div class="col2">
          <p>NIVEL UNIVERSITARIO:</p>
            
          <div >
            <label  >INSTITUCION:</label>
            <div >
              <input type="text"   placeholder="digite su institucion">
            </div>
          </div>
        
          <div >
            <label  >TITULO:</label>
            <div >
              <input type="text"   placeholder="digite su titulo">
            </div>
          </div>
        
          <div >
            <label  >FECHA:</label>
            <div >
              <input type="date"   placeholder="digite su fecha de grado">
            </div>
          </div>
        </div>
      </div>
      
      <p>OTROS ESTUDIOS:</p>
      
      <div >
        <label  >INSTITUCION:</label>
        <div >
          <input type="text"   placeholder="digite su institucion">
        </div>
      </div>
    
      <div >
        <label  >TITULO:</label>
        <div >
          <input type="text"   placeholder="digite su titulo">
        </div>
      </div>
    
      <div >
        <label  >FECHA:</label>
        <div >
          <input type="text"   placeholder="digite su fecha de grado">
        </div>
      </div>     

    </div>

    <div class="panel" *ngIf="pag==3">

      <div class="cols">

        <div class="col1">
          <p>IDIOMAS:</p>
            
          <div >
            <label  >INSTITUCION:</label>
            <div >
              <input type="text"   placeholder="digite su institucion">
            </div>
          </div>
        
          <div >
            <label  >TITULO:</label>
            <div >
              <input type="text"   placeholder="digite su titulo">
            </div>
          </div>
        
          <div >
            <label  >FECHA:</label>
            <div >
              <input type="text"   placeholder="digite su fecha de grado">
            </div>
          </div>

        </div>

        <div class="col2">
          <div >
            <label >3.INVESTIGACION O PROYECTOS REALIZADOS</label>
            <textarea ></textarea>
          </div>
          
          <div >
            <label >4.CONOCIMIENTO O PRACTICA DE INFORMATICA QUE POSEE</label>
            <textarea ></textarea>
          </div>
          
          <div >
            <label >5.SEMINARIOS O CURSOS ASISTIDOS(Tema,institucion,fecha)</label>
            <textarea></textarea>
          </div>         

        </div>

      </div>

      <div >
        <label >6.DISTINCIONES Y HONORES RECIBIDOS(Distincion,institucion,fecha)</label>
        <textarea></textarea>
      </div>

    </div>
                  
    <div class="panel" *ngIf="pag==4">

      <h5>7. EXPERIENCIA LABORAL</h5>
      
      <div class="cols">

        <div class="col1">
          <div >
            <label  >ENTIDAD:</label>
            <div >
              <input type="text"   placeholder="digite entidad">
            </div>
          </div>

          <div >
            <label  >FUNCIONES DESEMPEÑADAS:</label>
            <div >
              <input type="text"   placeholder="digite sus funciones">
            </div>
          </div>

          <div >
            <label  >ENTIDAD:</label>
            <div >
              <input type="text"   placeholder="digite entidad">
            </div>
          </div>

          <div >
            <label  >FUNCIONES DESEMPEÑADAS:</label>
            <div >
              <input type="text"   placeholder="digite sus funciones">
            </div>
          </div>

        </div>

        <div class="col2">
          <div >
            <label  >CARGO:</label>
            <div >
              <input type="text"   placeholder="digite cargo">
            </div>
          </div>

          <div >
            <label  >DURACION FECHA:</label>
            <div >
              <input type="text"   placeholder="digite fecha">
            </div>
          </div>

          <div >
            <label  >CARGO:</label>
            <div >
              <input type="text"   placeholder="digite cargo">
            </div>
          </div>

          <div >
            <label  >DURACION FECHA:</label>
            <div >
              <input type="text"   placeholder="digite fecha">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="panel" *ngIf="pag==5">

      <h5>8. AREAS DE INTERES PARA EL DESARROLLO DE LAS PRACTICAS EN ORDEN DE PREFERENCIA</h5>
    
      <div >
        <label >DIGITE SUS PERFILES POR ORDEN DE PREFERENCIA:</label>
        <textarea></textarea>
      </div>
      
      <div >
        <button (click)="add()" >REGISTRAR</button>
      </div>

    </div>
    
    <div class="paginators">
      <div class="opt" (click)="ant()">
        <p>Anterior</p>
      </div>
      <div class="space">

      </div>
      <div class="opt" (click)="sig()">
        <p>Siguiente</p>
      </div>
    </div>

  </div>
</div>