<H1>BIENVENIDOS A FORMULARIO</H1>

<form>

  <div>
    <label>SUBA FOTOGRAFRIA 3X4 FONDO BLANCO AQUI</label>
    <div class="files">
      <input type="file" (change)="onFileSelected($event)" #fileInput id="file">
      <button id="upload" (click)="fileInput.click()">Seleccionar</button>
      <input id="uploadName" type="text" value="{{name}}" placeholder="Ningun archivo" disabled>
    </div>
  </div>

</form>

<form>

  <div>
      <h2>DATOS PERSONALES:</h2>
    <label>PRIMER APELLIDO:</label>
    <input Practicantes.firstsurname type="text" placeholder="Digite primer apellido">
  </div>

  <div>
    <label >SEGUNDO APELLIDO:</label>
    <input Practicantes.lastsurname type="text" placeholder="Digite segundo apellido">
  </div>

  <div>
    <label >NOMBRES:</label>
    <input Practicantes.names type="text" placeholder="Digite nombres">
  </div>

  <div>
    <label >CEDULA DE CIUDADANIA:</label>
    <input [(ngModel)]="docente.id" type="text" placeholder="Digite cedula">
  </div>

  <div>
    <label >LUGAR DE NACIMIENTO:</label>
    <input [(ngModel)]="docente.placeofbirth" type="text" placeholder="Digite lugar de nacimiento">
  </div>      

  <div>
    <label >ESTADO CIVIL:</label>
    <input [(ngModel)]="docente.statecivil" type="text" placeholder="Digite estado civil">
  </div>

  <div>
    <label >DIRECCION ACTUAL:</label>
    <input type="text" placeholder="Digite Direcciona actual">
  </div>

  <div>
    <label >TELEFONO:</label>
    <input type="text" placeholder="Digite telefono">
  </div>
                                  
  <form>
    <div>
      <label>SELECCIONE ARCHIVO PDF DE EPS A LA QUE ESTA ADSCRITO AQUI</label>
      <div class="files">
        <input type="file" (change)="onFileSelected($event)" #fileInput id="file">
        <button id="upload" (click)="fileInput.click()">Seleccionar</button>
        <input id="uploadName" type="text" value="{{name}}" placeholder="Ningun archivo" disabled>
      </div>
    </div>
  </form>

  <div>
    <label >CORREO ELECTRONICO:</label>
    <input type="text" placeholder="Digite correo elecetronico">
  </div>

  <div>
    <label >CIUDAD:</label>
    <input type="text" placeholder="Digite ciudad">
  </div>

  <div>
    <button (click)="add()">AGREGAR</button>
  </div>

</form>
