<div class="back">
    <div class="center">

        <div class="cards" routerLink="/teacher/rating/record">
            <div class="up">
                <div class="mark">
                    <img src="../../../assets/source/Aprobado03.png" alt="Icon">
                </div>
            </div>
            <div class="down">
                <span>Registrar</span>   
            </div>
        </div>
    
        <div class="cards" routerLink="/teacher/rating/search">
            <div class="up">
                <div class="mark">
                    <img src="../../../assets/source/Lupa32x32.png" alt="Icon">
                </div>
            </div>
            <div class="down">
                <span>Consultar</span>   
            </div>
        </div>


    </div>
</div>
                                            
                                        
                                    
                            
                    
            
        
    