.back{
    width: 100%;
    height: 100%;    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 244, 244);
}

.center{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    height: fit-content;
    border: 1px solid rgb(242, 242, 242);
    background-color: white;
}

.panel{    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width: 100%;
}

.paginators{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.preview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.photo{
    width: 4cm;
    height: 4cm;
    background-color: rgba(235,235,235);
    margin-bottom: 10px;
}

.files{
    margin-bottom: 10px;
}

input{    
    margin-bottom: 10px;
}

select{
    margin-bottom: 10px;
}

button{    
    margin-bottom: 10px;
}

.cont{
    width: 38px;
    height: 38px;
    padding:0;
    border: 0;
    margin: 0;
}

.opt{
    height: 40px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.opt:hover{
    background-color: rgba(48, 173, 48, 0.3);
    transition: 1s;
}

.space{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cols{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;    
}

.col1{
    width: 100%;
    height: fit-content;
    border-right: 10px solid transparent;
}

.col2{
    width: 100%;
    height: fit-content;
    border-left: 10px solid transparent;
}