<body>

  <div class="back">
    <div class="cover">
      <div class="section left" (click)="open()">
          <div class="logo">
            <img src="assets/source/menu22x22.png" alt="menu">
          </div>
      </div>
    
      <div class="section center">
        <div class="opt" routerLink="/">
          <p>Inicio</p>
        </div>
        <div class="opt" routerLink="/record/practiceer">
          <p>Practicante</p>
        </div>
        <div class="opt" routerLink="/record/company">
          <p>Empresa</p>
        </div>
        <div class="opt" routerLink="/login">
          <p>LogIn</p>
        </div>
      </div>
    
      <div class="section rigth" routerLink="/info/cempre">        
          <div class="logo">
            <img src="assets/source/cempre_logo.png" alt="">
          </div>
      </div>
    </div>
  </div>

  <div class="body">
    
    <div class="space" *ngIf="ver">
    </div>

    <div class="lateral" *ngIf="ver">
      <div class="menu" *ngIf="ver">
        <app-menu></app-menu>
        <!--<app-menu-user *ngIf="!tipo"></app-menu-user>-->
        <!--<app-menu-company></app-menu-company>-->
        <!--<app-menu-practiceer></app-menu-practiceer>-->
        <!--<app-menu-docent></app-menu-docent>-->
      </div>
    </div>
    

    <div class="content">
      <div class="router">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>

</body>
