<h1> Bienvenido a Guias Practicantes</h1>
<p>Aqui se mostrara toda la informacion de los practicantes.</p>


<article id="post-61" class="post-61 page type-page status-publish hentry">
        <header class="entry-header">
            <h1 class="entry-title">PRACTICAS EMPRESARIALES  !OPCIÓN DE&nbsp;GRADO!</h1>
        </header><!-- .entry-header -->
    
        <div class="entry-content">
            <ol>
    <li><strong> ACCESO A LA PRÁCTICA PROFESIONAL</strong></li>
    </ol>
    <ul>
    <li>Inscribirse en el Centro de Estudios Empresariales.</li>
    </ul>
    <p><em>            El estudiante debe llenar el formato de hoja de vida CEMPRE, con la información requerida</em>.</p>
    <a [routerLink]="['/FormularioPracticantes']"> CLICK AQUI PARA LLENAR EL FORMULARIO </a>
    <ul>
    <li>Presentar constancia de egresado o pre matricula de 10º semestre cursado  (Registro y Control).</li>
    </ul>
    <p>&nbsp;</p>
    <ol start="2">
    <li><strong> UBICACIÓN DE LA PRÁCTICA</strong>.</li>
    </ol>
    <p>GESTIÓN DE CONVENIO UNIVERSIDAD – EMPRESA.</p>
    <ul>
    <li>Cempre mantiene convenios con diferentes empresas tanto privadas como oficiales,  a las cuales se envían egresados a realizar las Prácticas Empresariale<em>s.</em></li>
    </ul>
    <p>SOLICITUD DEL EMPRESARIO.</p>
    <ul>
    <li>Cempre le están solicitando permanentemente practicantes, empresas con las cuales se mantienen convenios abiertos.</li>
    </ul>
    <p>GESTIÓN DEL ESTUDIANTE.</p>
    <ul>
    <li>Se presenta cuando el estudiante por gestión propia consigue la empresa en la cual realizará su Practica Empresarial.</li>
    </ul>
    <p><em>Nota: Todas las solicitudes de prácticas deben contener área específica y funciones del practicante las cuales deben ser afines al programa cursado.</em></p>
    <p>&nbsp;</p>
    <ol start="3">
    <li><strong> VISITA POR PARTE DEL COORDINADOR DE PRÁCTICAS A LA EMPRESA, PARA CONSTATAR SI LA EMPRESA CUMPLE CON LOS REQUISITOS  DE LA PRÁCTICA SOLICITADA.</strong></li>
    </ol>
    <ul>
    <li>El Coordinador debe practicar la visita correspondiente a la empresa y constatar si cumple con los requisitos mínimos para recibir el practicante.</li>
    </ul>
    <p>&nbsp;</p>
    <ol start="4">
    <li><strong> PRESENTAR DE LA SOLICITUD AL COMITÉ DE PRÁCTICAS EMPRESARIALES Y/O CONSEJO DE FACULTAD PARA SU APROBACIÓN.</strong></li>
    </ol>
    <ul>
    <li>El Coordinador debe someter a consideración del Comité de Prácticas Empresariales cada una de las solicitudes presentadas con el fin de que sean evaluadas por los mismos</li>
    </ul>
    <p>&nbsp;</p>
    <ol start="5">
    <li><strong> UNA VEZ APROBADA LA PRÁCTICA EL ESTUDIANTE DEBE ASISTIR A UNA INDUCCIÓN PROGRAMADA POR EL COORDINADOR DE PRACTICAS EMPRESARIALES DE CEMPRE.</strong></li>
    </ol>
    <ul>
    <li>El practicante debe conocer todo lo concerniente al Centro de Estudios Empresariales, al igual la metodología utilizada para el desarrollo de los informes que deberá presentar al Cempre.</li>
    <li>Como también CEMPRE  le asignará un asesor de un listado suministrado por los jefes de programas académicos cursados por los egresados</li>
    </ul>
    <p><em>Nota: la fecha de iniciación de las prácticas válida para el CEMPRE solo será a partir de la autorización del comité de prácticas</em></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ol start="6">
    <li><strong> EL PRACTICANTE DEBE CANCELAR AL MENOS EL 50% DEL VALOR DE LA PRÁCTICA A LA UNIVERSIDAD Y EL SALDO ANTES DE TERMINAR EL PERIODO DE LA PRÁCTICA.</strong></li>
    </ol>
    <ul>
    <li>Las prácticas empresariales tienen un valor de Trescientos Cuarenta y cinco mil pesos   ($ 345.0000)</li>
    </ul>
    <p style="text-align:center;">FAVOR HACER CLIC EN EL SIGUIENTE ENLACE ESCOJA LA OPCIÓN (PRACTICAS EMPRESARIALES CEMPRE) Y EL ANOTA EL VALOR DE $ 369.150</p>
    <p style="text-align:center;"><strong><span style="color:#008000;">⇓</span></strong></p>
    <p style="text-align:center;"><a href="http://www2.unicesar.edu.co/unicesar/academusoft/academico/pecuniarios/externoPecuniario.jsp" rel="nofollow">http://www2.unicesar.edu.co/unicesar/academusoft/academico/pecuniarios/externoPecuniario.jsp</a></p>
    <p style="text-align:center;">
    <ol start="7">
    <li><strong> DOCUMENTOS QUE DEBE ANEXAR EL PRACTICANTE:</strong></li>
    </ol>
    <ol>
    <li>Carta sugiriendo el Asesor</li>
    <li>Certificado de la Cámara de Comercio de la Empresa</li>
    <li>Fotocopia cédula del representante legal de la empresa</li>
    <li>Nit de la empresa</li>
    <li>recibo de pago prácticas empresariales</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="8">
    <li style="text-align:justify;"><strong><strong><strong><strong> EL PRACTICANTE DEBE PRESENTAR AL COORDINADOR UN PRIMER INFORME EN LA METODOLOGÍA EXIGIDA POR EL CENTRO 75 DÍAS CALENDARIO A PARTIR DEL DÍA EN QUE INICIA LA PRÁCTICAS</strong></strong></strong></strong><strong><strong><strong><strong>        </strong></strong></strong></strong><strong><strong><strong><strong>  </strong></strong></strong></strong><strong><strong><strong><strong>                                                                                                                                                                    </strong></strong></strong></strong><strong><strong><strong><strong>                                                                                                 </strong></strong></strong></strong>
    <ol>
    <li style="text-align:justify;">Informe haz clic en el siguiente documento para descargar la metodología CEMPRE</li>
    </ol>
    <p><em><span style="color:#008000;"><a style="color:#008000;" href="https://cempreupc.files.wordpress.com/2015/03/metodologia-informe-de-practica-de-grado-cempre.docx"><strong>⇒</strong> <strong>(METODOLOGÍA INFORME DE PRACTICA DE GRADO &#8211; CEMPRE</strong></a><strong>)  </strong></span>                                                                                              </em></p>
    <p><em> </em>2.Carta del Asesor donde conste que revisó el informe, haz clic en el siguiente documento para descargar  el modelo de carta del asesor</p>
    <p><span style="color:#008000;"> <strong>⇒(</strong></span><strong><em><span style="color:#008000;"><a style="color:#008000;" href="https://cempreupc.files.wordpress.com/2015/03/certificacion-de-asesores.docx">CERTIFICACIÓN DE ASESORES</a>)</span> </em></strong></p>
    <p>3. Carta del Empresario donde apruebe el Plan de Trabajo, haz clic en el siguiente enlace para descargar el modelo para la carta del empresario (papel membrete dirección y teléfono de la empresa)</p>
    <p><span style="color:#008000;"><em><a style="color:#008000;" href="https://cempreupc.files.wordpress.com/2015/03/modelo-carta-empresa.docx"><strong>⇒ (MODELO CARTA EMPRESA</strong></a><strong>)</strong></em></span></p>
    <p><em>Nota: El Informe debe ser revisado por el Coordinador.</em></li>
    <li><strong> EL CEMPRE Y EL ASESOR DEBEN PRACTICAR AL MENOS 2 VISITAS AL PRACTICANTE DURANTE EL PERIODO DE LA PRÁCTICA EMPRESARIAL.</strong></li>
    </ol>
    <ul>
    <li>El Cempre tiene diseñado como mecanismo de control, un formato de visitas el cual debe ser firmado por el funcionario del Cempre y por el Empresario, una vez se efectué la misma.</li>
    </ul>
    <p>&nbsp;</p>
    <ol start="10">
    <li><strong> EL PRACTICANTE DEBERÁ PRESENTAR UN SEGUNDO Y ÚLTIMO INFORME AL CEMPRE, 165 DÍAS CALENDARIO A PARTIR DEL INICIO DE SU PRÁCTICA.</strong></li>
    </ol>
    <p>El segundo informe o informe final debe ser presentado por el practicante 165 días calendario a partir del día en que se envió a la práctica, anexando los siguientes documentos:</p>
    <ol>
    <li>Carta del Asesor donde conste que revisó y evaluó el informe</li>
    <li>Carta del Empresario donde certifique que el practicante realizó a satisfacción las Prácticas Empresariales</li>
    <li>Un (1) Disquetes</li>
    <li>Tres (3) evaluaciones firmadas por el Asesor, CEMPRE y Empresario</li>
    <li>El primer informe corregido por el Cempre</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="11">
    <li><strong> EL COORDINADOR DE PRÁCTICAS EMPRESARIALES REVISARÁ EL INFORME Y DARÁ SU CONCEPTO DE APROBACIÓN O NEGACIÓN DEL MISMO.</strong></li>
    </ol>
    <ul>
    <li>El Coordinador de Prácticas Empresariales en pleno, revisará el informe final, enviándolo a empastar o corregir. En el caso de sugerir correcciones el Practicante deberá presentarlo nuevamente a Comité.</li>
    </ul>
    <p>&nbsp;</p>
    <ol start="12">
    <li><strong> ENVÍO DEL INFORME FINAL AL CONSEJO DE FACULTAD.</strong></li>
    </ol>
    <ul>
    <li>Una vez el informe cumpla con los requisitos establecidos por el Comité de Prácticas Empresariales y el CEMPRE, se autoriza al practicante empastar para remitirlo al Consejo de Facultad.</li>
    </ul>
    <p>&nbsp;</p>
    <ol start="13">
    <li><strong> EVALUACIÓN POR PARTE DEL CONSEJO DE FACULTAD.</strong></li>
    </ol>
    <ul>
    <li>Evaluado por el Consejo de Facultad el informe final, envía el nombre del egresado al Consejo Académico para autorización del grado.</li>
    </ul>