<div class="body">
    <p id="up">Empresa</p>
    <div class="center">

        <div class="option" routerLink='/company/subscribed'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="settings"><span>Inscripción</span>
        </div>
    
        <div class="option" routerLink='/company/practiceers'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="searchs"><span>Practicantes</span>
        </div>

        <div class="option" routerLink='/company/places'>
            <img src="../../assets/source/menu22x22.png" alt="X" class="searchs"><span>Sitio</span>
        </div>
    
        <div class="post" routerLink='/company/practices'>
            <span>Practicas</span>
        </div>
    
    </div>
    
</div>
