<div class="back">
    <div class="center">

        <div class="cards" routerLink="/practiceer/request/record">
            <div class="up">
                <div class="mark">
                    <img src="../../../assets/source/Registrar22x22.png" alt="Icon">
                </div>
            </div>
            <div class="down">
                <span>Registrar</span>   
            </div>
        </div>

        <div class="cards" routerLink="/practiceer/request/modify">
            <div class="up">
                <div class="mark">
                    <img src="../../../assets/source/Modificar22x22.png" alt="Icon">
                </div>
            </div>
            <div class="down">
                <span>Modificar</span>   
            </div>
        </div>
    
        <div class="cards" routerLink="/practiceer/request/delete">
            <div class="up">
                <div class="mark">
                    <img src="../../../assets/source/Eliminar22x22.png" alt="Icon">
                </div>
            </div>
            <div class="down">
                <span>Eliminar</span>   
            </div>
        </div>

    </div>
</div>
                        
                    
                
        
